Repository FrancoisHellebuyck-Formation/project8: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-coverage, check-tests-pass

check-api-coverage:
  name: Vérifier la couverture de l'API
  entry: python3 scripts/check_api_coverage.py --min-coverage 85
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

check-tests-pass:
  name: Vérifier que tous les tests passent
  entry: make test
  language: system
  pass_filenames: false
  stages:
  - push
  verbose: true

feat: Update API coverage checks to lower minimum threshold to 80%
  .github/workflows/cicd.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  scripts/check_api_coverage.py
Due: none

fix: Update API coverage summary script to use python3 and improve readability
  .github/workflows/cicd.yml
Due: none

feat: Implement direct HTTP access to ML API on HuggingFace Spaces
  Makefile
  README.md
  docker/Dockerfile.hf
  docs/DIRECT_HTTP_ACCESS.md
  docs/PROXY_REFACTOR_SUMMARY.md
  docs/QUICK_START_HTTP_ACCESS.md
  src/ui/api_routes.py
  src/ui/app.py
  src/ui/fastapi_app.py
Due: check-tests-pass

fix: Remove unused import of Optional from typing in api_routes.py
  src/ui/api_routes.py
Due: check-tests-pass

feat: Add JMeter load testing plans and scripts for ML API
  docs/ARCHITECTURE.md
  docs/ELASTIC.md
  docs/PROXY_DOCUMENTATION.md
  jmeter/.gitignore
  jmeter/API_Load_Test.jmx
  jmeter/README.md
  jmeter/run_load_test.sh
  scripts/migrate_elasticsearch.py
Due: none

refactor: Clean up code formatting and remove unused imports in migrate_elasticsearch.py
  scripts/migrate_elasticsearch.py
Due: none

feat: Add model pool for parallel predictions + adjust coverage threshold
  .env.example
  .pre-commit-config.yaml
  coverage.json
  pyproject.toml
  src/api/main.py
  src/config.py
  src/model/model_pool.py
  tests/model/test_model_pool.py
  uv.lock
Due: check-api-coverage, check-tests-pass

feat: Update CI/CD coverage threshold to 70 and enhance architecture documentation for model pool
  .github/workflows/cicd.yml
  .pre-commit-config.yaml
  docs/ARCHITECTURE.md
  docs/PROXY_DOCUMENTATION.md
  tests/model/test_model_pool.py
Due: check-tests-pass

fix: Update coverage threshold from 80 to 70 in CI/CD pipeline
  .github/workflows/cicd.yml
Due: none

feat: Add security scanning and pipeline documentation
  .github/workflows/cicd.yml
  docs/PIPELINE.md
  pyproject.toml
  uv.lock
Due: none

fix: Résolution des problèmes de sécurité détectés par Bandit et Safety
  .bandit
  .github/workflows/cicd.yml
  .safety-policy.yml
  docs/SECURITY.md
  pyproject.toml
  src/api/main.py
  uv.lock
Due: check-api-coverage, check-tests-pass

fix: Add --configfile option to Bandit in CI/CD
  .github/workflows/cicd.yml
Due: none

fix: Update GENDER randomization and increase response time threshold in load test
  jmeter/API_Load_Test.jmx
Due: none

Add ONNX migration tooling and documentation
  Makefile
  docs/ONNX_MIGRATION.md
  scripts/README.md
  scripts/convert_to_onnx.py
Due: none

feat: Add dual model type support (sklearn + ONNX) with router
  .env.example
  .github/workflows/cicd.yml
  src/api/main.py
  src/config.py
  src/model/model_router.py
  src/model/onnx_loader.py
Due: check-api-coverage, check-tests-pass

feat: Add model type selector in Gradio UI
  src/ui/app.py
Due: check-tests-pass

Improve test coverage to 81.38% (target: 80%)
  pyproject.toml
  tests/api/test_logging_config.py
  tests/model/test_model_router.py
Due: check-tests-pass

fix: Disable ONNX conversion step in CI/CD workflow
  .github/workflows/cicd.yml
Due: none

chore: Adjust API coverage threshold from 70% to 65%
  .github/workflows/cicd.yml
  .pre-commit-config.yaml
Due: none

feat: Add Sphinx documentation system with complete docstrings
  Makefile
  docs/README.md
  docs/conf.py
  docs/index.rst
  docs/modules/api.rst
  docs/modules/logs_pipeline.rst
  docs/modules/model.rst
  docs/modules/simulator.rst
  docs/modules/ui.rst
  pyproject.toml
  scripts/generate_docs.py
  src/api/main.py
  src/main.py
  uv.lock
Due: check-api-coverage, check-tests-pass

feat: Add MyST parser for Markdown README inclusion in docs
  docs/README.md
  docs/conf.py
  docs/guides/docker.md
  docs/guides/jmeter.md
  docs/guides/model.md
  docs/guides/proxy.md
  docs/guides/scripts.md
  docs/index.rst
  docs/modules/logs_pipeline.rst
  docs/modules/simulator.rst
  pyproject.toml
  uv.lock
Due: none

feat: Add Makefile commands to launch and stop API+UI in background
  Makefile
Due: none

docs: Add Architecture section to Sphinx documentation
  docs/architecture/architecture.rst
  docs/architecture/pipeline.rst
  docs/index.rst
Due: none

fix: Fix ONNX conversion for models with SMOTE and LightGBM
  .gitignore
  pyproject.toml
  scripts/convert_to_onnx.py
  uv.lock
Due: none

fix: Add pool parameter to ModelContextManager constructor
  src/model/model_pool.py
Due: check-tests-pass

ci: Add ONNX model generation to CI/CD workflow and HuggingFace deployment
  .github/workflows/cicd.yml
Due: none

Add onxx model to .gitignore
  .gitignore
Due: none

Add onnx to LFS for HF
  .github/workflows/cicd.yml
  docs/COMPOSANTS.md
Due: none

feat: Deploy ONNX model artifact in CI/CD
  .github/workflows/cicd.yml
Due: none

Claude to Gemini update
  GEMINI.md
  README.md
  docs/ARCHITECTURE.md
  docs/MAKEFILE_GUIDE.md
Due: none

fix: Ensure ONNX model is deployed to Hugging Face
  .github/workflows/cicd.yml
Due: none

Del SMOTE for final model
  model/MLmodel
  model/model.pkl
Due: none

fix(ci): Stop ignoring ONNX model in .gitignore
  .gitignore
Due: none

chore(ci): Add debugging steps to HF deployment
  .github/workflows/cicd.yml
Due: none

feat: Add onnxruntime as a core dependency
  pyproject.toml
Due: none

fix(model): Generalize ModelPool to support ONNX models
  src/model/model_pool.py
Due: check-tests-pass

docs: Add documentation for ModelRouter
  docs/ROUTER.md
Due: none

docs: Add cURL examples to ROUTER.md
  docs/ROUTER.md
Due: none

docs: Replace ASCII diagram with SVG in ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

docs: Add projet8.drawio.svg for architectural diagram
  docs/projet8.drawio.svg
Due: none

Path conditions:
  check-api-coverage: any of: ^(src/api/.*\.py|tests/test_(api|main)\.py)$
  check-tests-pass: any of: ^(src/.*\.py|tests/.*\.py)$
